/*Fonts*/

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
  url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
  url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*Variables*/

:root {
  --black: #000000;
  --medium-black: #231F20;
  --special-black: #231F20;
  --neutral-black: #333333;
  --white: #FFFFFF;
  --shadow: 0, 1, 1;
  --shadow-white: 255, 255, 255;
  --special-white: #EBEBEB;
  --neutral-white: #BDBBBC;
  --grey: #EEEEEE;
  --light-grey: #CACACA;
  --medium-grey: #F2F2F2;
  --dark-grey: #666666;
  --special-grey: #ABABAB;
  --neutral-grey: #E5E5E5;
  --basik-grey: #A9A9A9;
  --blue: #81B3D2;
  --medium-blue: #669EC0;
  --dark-blue: #5496BD;
  --brown: #766357;
  --medium-brown: #604E43;
  --dark-brown: #503E33;
  --special-brown: #6A6A6A;
}

/*Global*/

.page-body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--neutral-black);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--medium-grey);
  min-height: 100%;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  display: none;
}

/*Container*/

.container {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px rgba(var(--shadow), 0.2);
  background-color: var(--white);
}

/*Grid*/

.page {
  height: 100%;
}

/*Main navigation*/

.main-navigation {
  line-height: 26px;
  font-weight: 700;
}

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  margin-left: -69px; /* width/2 */
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style: none;
  padding: 0;
}

.site-navigation li {
  width: 200px;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}

.site-navigation-current a:not([href]) {
  color: var(--brown);
}

.site-navigation a {
  color: var(--black);
}

.site-navigation a:hover {
  color: var(--blue);
}

.site-navigation a:active {
  color: rgba(var(--shadow), 0.3);
}

/*Main*/

.main-slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
}

.slogan {
  background-color: var(--medium-black);
}

/*Features*/

.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features-causes {
  line-height: 26px;
}

.feature-item span {
  display: block;
}

.feature-item {
  background-color: var(--grey);
  color: var(--black);
}

.feature-item-caption {
  font-size: 21px;
  font-weight: 700;
}

.feature-item-white {
  display: flex;
  background-color: var(--blue);
  color: var(--white);
}

.feature-item-white div {
  width: 33.33333%;
  align-self: center;
}

.feature-item-picture {
  width: 800px;
  height: 256px;
}

.feature-item-reverse .feature-item-picture {
  order: -1;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.service-item {
  width: 400px;
}

.service-item-caption {
  font-size: 21px;
  font-weight: 700;
  color: var(--black);
}

.feature-item-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.feature-item-container .feature-item {
  width: 400px;
}


/*Hotel search*/

.hotel-search span {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  color: var(--black);
}

.hotel-search p {
  line-height: 24px;
}

.hotel-finder-button,
.hotel-search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--brown);
  border: none;
  outline: none;
  padding: 0;
}

.hotel-finder-button:hover {
  background-color: var(--medium-brown);
}

.hotel-finder-button:active {
  color: rgba(var(--shadow-white), 0.3);
  background-color: var(--dark-brown);
}

.hotel-search-form {
  box-shadow: 0px 7px 15px rgba(var(--shadow), 0.15);
}

.hotel-search-form-item {
  font-weight: 700;
  color: var(--black);
}

.hotel-search-form-item label {
  display: block;
  line-height: 26px;
}

.hotel-search-form-input {
  width: 346px;
  line-height: 26px;
  background-color: var(--medium-grey);
  padding: 0;
  border: none;
}

.hotel-search-form-input:hover {
  background-color: var(--special-white);
}

.hotel-search-form-input:focus {
  background-color: var(--white);
  outline-width: 2px;
  outline-color: var(--neutral-grey);
}

.hotel-search-form-item button {
  line-height: 26px;
  padding: 0;
  border: none;
  outline: none;
  color: var(--basik-grey);
}

.hotel-search-form-item button:hover {
  color: var(--black);
}

.hotel-search-form-item button:active {
  color: var(--blue);
}

.hotel-search-button {
  background-color: var(--blue);
}

.hotel-search-button:hover {
  background-color: var(--medium-blue);
}

.hotel-search-button:active {
  color: rgba(var(--shadow-white), 0.3);
  background-color: var(--dark-blue);
  outline: none;
}

/*Footer*/

.main-footer {
  background-color: rgba(var(--shadow-white), 0.9);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/*Footer contacts*/

.footer-contacts a,
.footer-contacts p {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
}

/*Footer social*/

.footer-social {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.social-button {
  background-color: var(--blue);
  margin-right: 6px;
}

.social-button:hover {
  background-color: var(--medium-blue);
}

.social-button:active {
  background-color: var(--dark-blue);
}

.footer-copyright {
  line-height: 26px;
  color: var(--black);
}

.footer-copyright-link {
  color: var(--special-black);
}

.footer-copyright-link:hover {
  color: var(--blue);
}

.footer-copyright-link:active {
  color: var(--neutral-white);
}

/*Catalog*/

.hotel-filter {
  display: flex;
  background-color: var(--blue);
  color: var(--white);
}

.hotel-filter-checkbox,
.hotel-filter-range {
  width: 400px;
  border: none;
  padding: 0px;
}

.hotel-filter-checkbox:first-child {
  width: 200px;
}

.hotel-filter-range {
  margin-left: auto;
}

.filter-checkbox,
.filter-range {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.filter-input-checkbox[disabled] {
  color: var(--special-brown);
}

.filter-legend {
  font-size: 16px;
  font-weight: 700;
}

.hotel-filter label {
  display: block;
}

.filter-input {
  background-color: transparent;
  border: 2px solid var(--white);
  outline: none;
  color: var(--white);
}

.show-hotels-button {
  padding: 0px;
  background-color: transparent;
  border: 2px solid var(--white);
  outline: none;
  color: var(--white);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.show-hotels-button:hover {
  color: var(--black);
  background-color: var(--white);
}

.hotel-found-container {
  display: flex;
  align-items: baseline;
}

.hotel-found {
  width: 200px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
}

.hotel-sorting-container {
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: baseline;
}

.hotel-sorting {
  font-size: 12px;
  line-height: 18px;
  color: var(--black);
}

.sorting-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sorting-list a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(var(--shadow), 0.3);
  text-decoration: underline dotted;
}

.sorting-list a:hover {
  color: var(--blue);
}

.sorting-list a:active {
  color: var(--black);
  text-decoration: none;
}

.sorting-current a,
.sorting-current a:hover,
.sorting-current a:focus,
.sorting-current a:active {
  color: var(--blue);
  text-decoration: none;
}

.sorting-buttons {
  width: 200px;
  margin-left: auto;
  list-style: none;
  padding: 0px;
}

.sorting-buttons a {
  color: var(--light-grey);
}

.sorting-buttons a:hover {
  color: var(--black);
}

.sorting-buttons a:active {
  color: var(--blue);
}

.sorting-button-current a,
.sorting-button-current a:hover,
.sorting-button-current a:focus,
.sorting-button-current a:active {
  color: var(--blue);
}

.hotel-list {
  list-style: none;
  padding: 0px;
}

.hotel-list-item {
  display: grid;
  grid-template-columns: 135px 1fr 110px;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
}

.hotel-name:hover {
  color: var(--blue);
}

.hotel-name:active {
  color: rgba(var(--shadow), 0.3);
}

.button-details {
  font-weight: 700;
  color: var(--white);
  background-color: var(--blue);
}

.button-details:hover {
  background-color: var(--medium-blue);
}

.button-details:active {
  background-color: var(--dark-blue);
  color: rgba(var(--shadow-white), 0.3);
}

.button-reservation {
  font-weight: 700;
  color: var(--white);
  background-color: var(--brown);
}

.button-reservation:hover {
  background-color: var(--medium-brown);
}

.button-reservation:active {
  background-color: var(--dark-brown);
  color: rgba(var(--shadow-white), 0.3);
}

.hotel-rating {
  color: var(--dark-grey);
  background-color: var(--medium-grey);
}
